{% extends "base.html" %}

{% block content %}
<div class="center-box">
    <h1 class="title">Metabolic Disease Analytics Dashboard</h1>
    <p class="subtitle">
        Welcome to the Prototype for Data Ingestion, Feature Engineering, & Prediction.
    </p>

    <div class="options">
        <a href="/raw-data" class="option-card">
            Import Raw Datasets
        </a>

        <a href="/patient" class="option-card">
            Single Patient Prediction
        </a>

        <a href="/analysis" class="option-card">
            Analyze & Visualize Data
        </a>
    </div>
</div>
{% endblock %}
